
body{
   	background-image: url("img/library.jpg");
    background-repeat: no-repeat;
 	 
    background-size: cover;
    margin: 0px;
    display: flex;
	flex-direction: column;
    position: relative;
}
header{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);;
    height: 120px;

}

#collections{
    display: flex;
    flex-wrap: wrap;
}

main{
    margin: 60px 300px;
    display: flex;

}

.book{
    width: 250px;
}

.card{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 25px 25px;
}

.name{
    margin: 0px;
    width: 250;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

#searching{
    display: inline-block;
    display: flex;
    justify-content: center;
    height: 30px;
}

a:hover{
    background-color: red;
    
}

a{  
    width: 200px;
    background: grey;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration:none;
    border: 2px solid white;
}

nav{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}